body{

    background-image: url(Background.jpg)
}

.container{
display: grid;
grid-template-columns:15% 50% 0% 5%;
column-gap: 1%;
row-gap: 3%;
color: honeydew;
margin-left: 50px;
margin-top: 50px;
}

.div1{
    height: 50px;
    margin-bottom: 200px;
    margin-left: 5px;
    float: left;
    background: black;
    color: white;
    padding: 0.5%;
}
.div2{
    margin-left: 5px;
}
.div3{
    width: 130px;
    margin-left: -110px;
}
.div4{
    margin-left: 200px;
    height: 20px;
}
.div5{
    margin-left: 250px;
}
.div6{
    margin-left: 10px;
    width: 200px;
}
.div7{
    margin-left: 20px;
}
.div8{
    background: blue;
    border-radius: 10%;
    padding: 25%;
    text-align: center;
    color: ghostwhite;
    width: 130px;
margin-left: 100px;
}
.under{
display: grid;
grid-template-columns:5% 70% 0%;
column-gap: 1%;
row-gap: 4%;
color: honeydew;
}
#login{
    padding: 90px 60px 100px 30px;
    font-size: 14;
    background: white;
    border-radius: 12px;
    width: 20%;
}
#h3{
    text-align:end;
}
    .white{background-color: rgb(70, 67, 67); 
        color: white; 
        border-radius: 5%;
        text-align: center;
        margin-left: 40%;
        margin-right: 10%;
    }
.wrap{
    text-align: start;
    color: white;
    margin: 5% -150px 5% 1%;
    padding-left: 12px;
    width: 600px;
    height: 300px;
    background-color: transparent;
}
.main{display:flex;
}
.footer{
    padding: 20px;
    display: flex;
    margin-left: 80px;
    color: white;
    margin-top: 20px;
    text-align-last: left;
    column-gap: 100px;
}
