    body{
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.822),rgba(0, 0, 0, 0.082)),url(Egertonhall_Backbalcony_001.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    header{
    background-color: black;
    border: 1px solid black;
    opacity: 0.6;
    padding-left: 120px;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;}
    
    .container{
    display: grid;
    grid-template-columns:15% 50% 0% 5%;
    column-gap: 1%;
    row-gap: 3%;
    color: honeydew;
    margin-top: 5px;
    }
    #div1{
        margin-top: 20px;
        height: 60px;
        width: 100px;
        float: inline-start;
        background: black;
        color: white;
        padding: 0.5%;
        position: absolute;
        z-index: 2;
    }
    .div2{
        margin-left: 5px;
    }
    .div3{
        width: 130px;
        margin-left: -80px;
    }
    .div4{
        margin-left: 100px;
        height: 20px;
    }
    .div5{
        margin-left: 150px;
    }
    .div6{
        margin-left: 5px;
        width: 200px;
    }
    .div7{
        margin-left: 40px;
    }
    .div8{
        background: blue;
        border-radius: 5%;
        text-align: center;
        color: ghostwhite;
        padding-top: 12px;
        width:140px;
        height:30px;
    margin-left: 70px;
    }
    
    #h3{
        text-align:end;
        width: 200px;
    }
    
    .under{
    display: grid;
    grid-template-columns:5% 70% 0%;
    column-gap: 1%;
    row-gap: 4%;
    color: honeydew;
    }
    .nav{
        display: flex;
        background:lightgrey;
        width: 800px;
        height: 50px;
    }
    #login{
        padding: 40px 80px 40px 30px;
        font-size: 16;
        background: white;
        padding-top: 50px;
        margin-left: 40%;
        border-radius: 12px;
        width: 210px;
        height: 300px;
        position: absolute;
    }

.white{background-color: rgb(70, 67, 67); 
    color: white; 
    border-radius: 5%;
    text-align: center;
    margin-left: 40%;
    margin-right: 10%;
    }
.wrap{
    text-align: start;
    color: white;
    padding-left: 5%;
    margin-top: 5%;
    padding-top: 5%;
    width: 850px;
    height: 250px;
    background: black;
    opacity: .7;
    border: solid #ffff;
}
.main{display:flex;
    align-content: center;
    margin: 12%;
}
.footer{
    padding: 20px;
    display: flex;
    margin-left: 80px;
    color: white;
    margin-top: 20px;
    text-align-last: left;
    column-gap: 100px;
}
#register{
    border-radius: 5px;
    border: groove;
    margin:4% 100% 1% 20%;
    width: 20%;
    background: solid black;
    text-align: center;
    opacity: 9!important;
}
@media only screen and (min-width:550px){body{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.822),rgba(0, 0, 0, 0.082)),url(Egertonhall_Backbalcony_001.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
background-color: black;
border: 1px solid black;
opacity: 0.6;
padding-left: 120px;
font-size: 14px;
padding-top: 20px;
padding-bottom: 20px;}

.container{
display: grid;
grid-template-columns:15% 50% 0% 5%;
column-gap: 1%;
row-gap: 3%;
color: honeydew;
margin-top: 5px;
}
#div1{
    margin-top: 20px;
    height: 60px;
    width: 100px;
    float: inline-start;
    background: black;
    color: white;
    padding: 0.5%;
    position: absolute;
    z-index: 2;
}
.div2{
    margin-left: 5px;
}
.div3{
    width: 130px;
    margin-left: -80px;
}
.div4{
    margin-left: 100px;
    height: 20px;
}
.div5{
    margin-left: 150px;
}
.div6{
    margin-left: 5px;
    width: 200px;
}
.div7{
    margin-left: 40px;
}
.div8{
    background: blue;
    border-radius: 5%;
    text-align: center;
    color: ghostwhite;
    padding-top: 12px;
    width:140px;
    height:30px;
margin-left: 70px;
}

#h3{
    text-align:end;
    width: 200px;
}

.under{
display: grid;
grid-template-columns:5% 70% 0%;
column-gap: 1%;
row-gap: 4%;
color: honeydew;
}
.nav{
    display: flex;
    background:lightgrey;
    width: 800px;
    height: 50px;
}
#login{
    padding: 40px 80px 40px 30px;
    font-size: 16;
    background: white;
    padding-top: 50px;
    margin-left: 40%;
    border-radius: 12px;
    width: 210px;
    height: 300px;
    position: absolute;
}

.white{background-color: rgb(70, 67, 67); 
color: white; 
border-radius: 5%;
text-align: center;
margin-left: 40%;
margin-right: 10%;
}
.wrap{
text-align: start;
color: white;
padding-left: 5%;
margin-top: 5%;
padding-top: 5%;
width: 850px;
height: 250px;
background: black;
opacity: .7;
border: solid #ffff;
}
.main{display:flex;
align-content: center;
margin: 12%;
}
.footer{
padding: 20px;
display: flex;
margin-left: 80px;
color: white;
margin-top: 20px;
text-align-last: left;
column-gap: 100px;
}
#register{
border-radius: 5px;
border: groove;
margin:4% 100% 1% 20%;
width: 20%;
background: solid black;
text-align: center;
opacity: 9!important;
}
}