body {
    text-align: center;
    background-color: #0004ff;
}

#intro {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

#clock {
    position: relative;
}

#hands {
    margin-top: 1%;
    margin-left: 49%;
    position: absolute;
}

#second,
#minutes,
#hour {
    line-height: 45px;
    position: absolute;
    z-index: 5;
    transform-origin: bottom;
}

#second {
    height: 180px;
    width: 1.5px;
    top: -420px;
    left: 0px;
    border-radius: 40%;
    background: #ff0000;
    z-index: 3;
    animation: sec_anim 60s linear infinite;
}

#minutes {
    height: 160px;
    width: 3px;
    left: 0px;
    top: -400px;
    background: rgb(219, 5, 226);
    border-radius: 20%;
    z-index: 2;
    animation: min_anim 3600s linear infinite;
}

#hour {
    height: 140px;
    width: 6px;
    left: 0px;
    top: -380px;
    background: rgb(133, 99, 5);
    border-radius: 30%;
    z-index: 1;
    animation: hour_anim 43200slinear infinite;
}

@keyframes sec_anim {
    from {
        transform: rotatez(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes min_anim {
    from {
        transform: rotatez(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes hour_anim {
    from {
        transform: rotatez(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#center {
    height: 30px;
    width: 30px;
    background-color: #000;
    margin: -20% 0px 260px 48%;
    border-radius: 25%;
    position: absolute;
    z-index: 6;
}

@media(max-width:540px) {
    #center {
        height: 40px;
        width: 40px;
        background-color: #000;
        border: #000;
        margin: 250px 0px 260px 255px;
        border-radius: 50%;
        position: absolute;
    }
}